@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../Assets/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
font-family: 'Outfit', sans-serif;
}

#onlyHeader {
    width: 1000px;
    margin-inline: auto;
  }
  #onlyHeader > img {
    margin-top: 50px;
    width: 200px;
  }

#onlyMainFp {
    width: 1000px;
    margin-inline: auto;
}


.titleDiv { 
    padding-top: 40px;
}

.firstPageh1 {
    color: white;
    font-weight: 300;
    font-size: 80px;
    line-height: 0.8;
    margin-top: 40px;
    margin-bottom: 40px;
}

.firstPageh1 span {
    font-weight: 700;
    display: block;
}

.firstPageh2 {
    color: #C2128D;
    font-size: 30px;
    margin: auto;
    margin-bottom: 5px;
}

.centralDiv {
    color: lightgray;
    
}

.onlyUl > li > span {
    font-weight: bold;
    color: white;
}

.centralDiv p {
    margin: auto;
}

.centralDiv ul {
    line-height: 1.7;
    padding-left: 25px;
    margin-top: 40px;
}

#downDiv {
    display: inline;
}

.lastId  {
    margin-top: 80px;
    display: inline;
}

.lastId p {
    display: inline;
   
}

#lastButton:disabled { 
    margin-inline: auto;
    border: none;
    padding: 15px 50px;
    background-color: grey;
    box-shadow: -1px -1px 40px -5px grey; 
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
#lastButton { 
    margin-inline: auto;
    border: none;
    padding: 15px 50px;
    background-color: #00ffff;
    box-shadow: -1px -1px 40px -5px #00FFFF; 
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.buttonDiv {
    display: inline-block;
    margin-left: 300px;
   vertical-align: middle;
}


.checkbox-conteiner {
    display: flex;
    align-items: center;
}

.checkbox-conteiner label {
    cursor: pointer;
    display: flex;
}

.checkbox-conteiner input[type="checkbox"] {
cursor: pointer;
opacity: 0;
position: absolute;
}

.checkbox-conteiner label::before {
    content: "";
    width: 1em;
    height: 1em;
    border: .15em solid white;
    border-radius: .15em;
    margin-right: .5em;
}

.checkbox-conteiner input[type="checkbox"]:checked + label::before {
    content: "\002714";
}

label {
    color: white;
}

.bottomDiv {
    margin-top: 50px;
}
 
/* first page */

#onlyMain {
    width: 1000px;
    margin-inline: auto;
    text-align: center;
}


.secondPageh1 {
    color: white;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
}

.general{
    display: inline-block;
    text-align:start;
    margin-left: 450px;
}

.container {
    display: inline-block;
    width: 100px;
    border-radius: 8px;
    background: transparent;
}
.circular-progress {
    position: relative;
    height: 150px;
    width: 150px;
    margin-left: 200px;
    border-radius: 50%;
    background: #ededed;
    display: inline-block;
}
.circular-progress::before {
    content: "";
    position: absolute;
    height: 115px;
    width: 115px;
    margin-left:17px;
    margin-top: 17px;
    border-radius: 50%;
    background: rgb(101,37,114);
    background: linear-gradient(152deg, rgba(101,37,114,1) 0%, rgba(86,30,103,1) 100%);
    box-shadow: inset 15px 9px 50px 1px black;
} 


.butt {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50px;
    width: 46%;
    margin: 16px;
    font-weight: bold;
    height: 70px;
    box-shadow: 0px -32px 33px -14px rgba(0,0,0,0.65) inset, -2px -2px 0px 0px white;
}

.butt:hover {
    background-color: #BE008C;
    
}

.btn {
    margin-inline: auto;
}

.secondPagefooter {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
    font-size: 20px;
}
.secondPagespan{
    color: #AE1287;
}


.numbers{
    color: white;
    padding-top: 50px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
}

.color{
    color: white;
    display: block;
    padding-left: 52px;
    padding-top: 45px;
    position: absolute;
    font-size: 2.5rem;
}

.selected{
    background-color: #BE008C;
}
#donut {
    display: none;
}
.hide{
   display: none;
}
#title > h3 {
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }
  
  .sottotitolo {
    text-align: center;
    color: white;
    font-weight: 300;
    margin: 0;
    font-size: 1.5rem;
  }

  
  .secondPageh5 {
    font-size: 1.1rem;
    margin: 0;
    padding-left: 150px;
    padding-top: 100px;
    color: white;
    position: relative;
  }
  
  /* INFO RESULTS */
  #grafico {
    text-align: center;
    height: 400px;
  }
  
  .colored {
    color: #00FFFF;
    padding-left: 90px;
    position: relative;
    font-size: 1.1rem;
    margin: 0;
  }
  
  .results {
    display: inline-block;
    width: 33%;
    margin-bottom: 50px;
    margin-top: 50px;
    vertical-align: middle;
  }
  .results p {
    margin: 0;
    opacity: 0.6;
    
  }
  .congrP {
    width: 300px;
    padding-top: 10px;
    padding-left: 50px;
    color: white;
    text-align: center;
  }
  
  .secondPageh2 {
    margin: 0;
    font-size: 3rem;
    font-weight: normal;
    line-height: 0.7;
    color: white;
  }
  
  .secondPageh3 {
    margin: 0;
    font-size: 3rem;
    color: white;
  }
  
  .secondPageh4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 0.7;
    opacity: 0.6;
    color: white;
  }
  
  .secondPageform {
    text-align: center;
    margin-top: 50px;
  }
  
  /* BUTTON */
  .secondPageform > button {
    border: none;
    border: 3px solid white;
    padding: 20px 60px;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .container-big {
    margin-left: 0px;
    width: 100px;
    border-radius: 8px;
    background: transparent;
  }
  .cirucular {
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: #ededed;
    text-align: left;
}
.cirucular::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 50%;
    background: purple;
    background: linear-gradient(152deg, rgba(101,37,114,1) 0%, rgba(86,30,103,1) 100%);
    box-shadow: inset 15px 9px 50px 1px black;
} 

