@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url(../Assets/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
font-family: 'Outfit', sans-serif;

}
#onlyHeader {
    width: 1000px;
    margin-inline: auto;
  }
  #onlyHeader > img {
    margin-top: 50px;
    width: 200px;
  }

#onlyMain {
    width: 1000px;
    margin-inline: auto;
    text-align: center;
}

.img {
    width: 200px;
    margin-top: 50px;
}

h1 {
    color: white;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
}

#general{
    display: inline-block;
    text-align:start;
    margin-left: 450px;
}

.container {
    display: inline-block;
    width: 100px;
    border-radius: 8px;
    background: transparent;
}
.circular-progress {
    position: relative;
    height: 150px;
    width: 150px;
    margin-left: 200px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: inline-block;
}
.circular-progress::before {
    content: "";
    position: absolute;
    height: 115px;
    width: 115px;
    margin-left:17px;
    margin-top: 17px;
    border-radius: 50%;
    background-color: white;
} 
.progress-value {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;
}

.butt {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50px;
    width: 46%;
    margin: 16px;
    font-weight: bold;
    height: 70px;
    box-shadow: 0px -32px 33px -14px rgba(0,0,0,0.65) inset, -2px -2px 0px 0px white;
}

.butt:hover {
    background-color: #BE008C;
    
}

.btn {
    margin-inline: auto;
}

footer {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
    font-size: 20px;
}
span{
    color: #AE1287;
}


.numbers{
    color: white;
    padding-top: 50px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
}

.color{
    color: black;
    display: inline-block;
    padding-left: 56px;
    padding-top: 8px;
    position: absolute;
    font-size: 2.5rem;
}

.selected{
    background-color: #BE008C;
}