@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

body {
    margin: 0;
    background-image: url(../Assets/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
font-family: 'Outfit', sans-serif;
}

#onlyMain {
    width: 1000px;
    margin-inline: auto;
}

.firstPageImg {
    width: 200px;
    padding: 50px;
}

.titleDiv { 
    padding-left: 50px;
}

h1 {
    color: white;
    font-weight: 300;
    font-size: 80px;
    line-height: 0.8;
}

h1 span {
    font-weight: 700;
    display: block;
}

h2 {
    color: #C2128D;
    font-size: 30px;
    margin: auto;
    margin-bottom: 5px;
}

.centralDiv {
    color: white;
}

.centralDiv p {
    margin: auto;
}

.centralDiv ul {
    line-height: 1.7;
    padding-left: 25px;
}

#downDiv {
    display: inline;
}

.lastId  {
    margin-top: 80px;
    display: inline;
}

.lastId p {
    display: inline;
   
}

#lastButton:disabled { 
    margin-inline: auto;
    border: none;
    padding: 15px 50px;
    background-color: grey;
    box-shadow: -1px -1px 40px -5px grey; 
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
#lastButton { 
    margin-inline: auto;
    border: none;
    padding: 15px 50px;
    background-color: #00ffff;
    box-shadow: -1px -1px 40px -5px #00FFFF; 
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
form > .buttonDiv > a{
    text-decoration: none;
}

.buttonDiv {
    display: inline-block;
    margin-left: 300px;
   vertical-align: middle;
}

* {
    box-sizing: border-box;
}

 .checkbox-conteiner {
    display: flex;
    align-items: center;
}

.checkbox-conteiner label {
    cursor: pointer;
    display: flex;
}

.checkbox-conteiner input[type="checkbox"] {
cursor: pointer;
opacity: 0;
position: absolute;
}

.checkbox-conteiner label::before {
    content: "";
    width: 1em;
    height: 1em;
    border: .15em solid white;
    border-radius: .15em;
    margin-right: .5em;
}

.checkbox-conteiner input[type="checkbox"]:checked + label::before {
    content: "\002714";
} 




/*label span{
    border: 3px solid #fff;
   width: 20px;
   height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.scritta {
    display: inline-block;
    padding-left: 10px;
}

label span::after {
    content: "";
  

}

input:checked ~ span::after {
 width: 20px;
 height: 40px;
 opacity: 1;
}*/

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid wheat;
    display: inline-block;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 15px;
    color: rgb(253, 253, 253);
    display: none;
    
}

input[type="checkbox"]:checked:after {
    display: inline-block;
}