@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

body {
    margin: 0;
    background-image: url(../Assets/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
font-family: 'Outfit', sans-serif;
}

#onlyMain {
    width: 1000px;
    margin-inline: auto;
}

.firstPageImg {
    width: 200px;
    padding: 50px;
}

.titleDiv { 
    padding-left: 50px;
}

h1 {
    color: white;
    font-weight: 300;
    font-size: 80px;
    line-height: 0.8;
}

h1 span {
    font-weight: 700;
    display: block;
}

h2 {
    color: #C2128D;
    font-size: 30px;
    margin: auto;
    margin-bottom: 5px;
}

.centralDiv {
    color: white;
}

.centralDiv p {
    margin: auto;
}

.centralDiv ul {
    line-height: 1.7;
    padding-left: 25px;
}

#downDiv {
    display: inline;
}

.lastId  {
    margin-top: 80px;
    display: inline;
}

.lastId p {
    display: inline;
   
}

.lastButton { 
    margin-inline: auto;
    border: none;
    padding: 15px 50px;
    background-color: #00ffff;
    box-shadow: -1px -1px 40px -5px #00FFFF;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: inline;
}

.buttonDiv {
    display: inline;
    margin-left: 300px;
   
    
}
.checkButton {
    height: 15px;
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    margin-right: 10px;
}